/*
/ Colors
*/

.accent {
  background-color: #436EA1;
}
.accent:hover {
  background-color: #1B2F6A;
}
.secondary {
  background-color: #F44336;
}
.secondary:hover {
  background-color: #D32F2F;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
a {
  text-decoration: none;
  color: white;
  font-weight: 300;
}
img {
  max-width: 100%;
}
.button {
  background-color: #3A539B !important;
}
.section-header {
  width: 100%;
  min-height: 800px;
  background: url(../_img/bg.jpg) top center no-repeat;
  display: inline-block;
}
.container {
  width: 615px;
  margin: 0 auto;
}
.header-info {
  margin: 35px auto 40px;
  display: block;
}
.box-form {
  width: 460px;
  margin: 0 auto;
}
.box-form .input-group {
  position: relative;
}
.box-form input[type="text"], .box-form input[type="email"] {
  width: 100%;
  background: white;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  padding: 15px 30px;
  font-size: 24px;
  color: #0096be;
}
.box-form input[type="submit"] {
  position: absolute;
  width: 70px;
  height: 40px;
  text-align: center;
  background: #0096be;
  color: white;
  font-size: 17px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  top: 50%;
  right: 10px;
  margin-top: -20px;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.box-form input[type="submit"]:hover, .box-form input[type="submit"]:focus {
  background: #0188A0;
}
.section-footer {
  text-align: center;
  padding: 60px 0;
}
.footer-text {
  font-size: 16px;
  margin-bottom: 45px;
  font-size: 24px;
  color: #808080;
  line-height: 30px;
}
.wraper {
  margin: 0 auto;
  display: inline-block !important;
  margin-top: 35px;
  max-width: 700px;
  padding-left: 37px;
}
.btn {
  display: inline-block;
  height: 3rem;
  margin-bottom: 15px;
  padding: 0 1.5rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  line-height: 3rem;
  text-transform: uppercase;
  border: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: 41px;
  text-decoration: none;
  color: #FFF;
  text-align: center;
  letter-spacing: 0.8px;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  cursor: pointer;
}
.organizers {
  color: #808080;
}
.organizers h2 {
  font-weight: 400;
}
.organizers ul li {
  display: inline-block;
  margin-left: 10px;
  font-size: 18px;
}

/*RESPONSIVE*/

@media (max-width: 630px) {
  .container {
    width: 100%;
  }
  .btn {
    display: block;
    width: 100%;
  }
  .box-form {
    width: 100%;
    padding: 0 15px;
  }
}
